{% extends 'base.html' %}

{% block main_container %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking/{{ lesson_id }}/" class="card mb-3" method="post">
          {{ form.csrf_token }}
          <div class="card-body text-center pt-5">
            <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ teacher.name }}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ week_day }}, {{ day_time }}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
            <div class="row">
              {{ form.lesson_id(class="form-control") }}
            </div>

            {% if error %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {{ form.client_name.label(class="mb-1 mt-2") }}
            {% for err in form.client_name.errors %}
              <p class="error">{{ err }}</p>
            {% endfor %}
            {{ form.client_name(class="form-control", placeholder="Ivan") }}
            {{ form.client_phone.label(class="mb-1 mt-2") }}
            {% for err in form.client_phone.errors %}
              <p class="alert alert-danger">{{ err }}</p>
            {% endfor %}
            {{ form.client_phone(class="form-control", placeholder="+79998887766") }}
            {{ form.submit(class="btn btn-primary btn-block mt-4") }}
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}