{% extends 'base.html' %}

{% block main_container %}

  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request/" class="card mb-5" method="post">
        {{ form.csrf_token }}
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и мы подберем отличных ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              {{ form.goal_id.label }}
              {% for subfield in form.goal_id %}
                <div class="form-check">
                  {{ subfield(class="form-check-input") }}
                  {{ subfield.label(class="form-check-label") }}
                </div>
              {% endfor %}
            </div>
            <div class="col">
              {{ form.free_time.label }}
              {% for subfield in form.free_time %}
                <div class="form-check">
                  {{ subfield(class="form-check-input") }}
                  {{ subfield.label(class="form-check-label") }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          {{ form.client_name.label(class="mb-1 mt-2") }}
          {% for err in form.client_name.errors %}
            <p class="error">{{ err }}</p>
          {% endfor %}
          {{ form.client_name(class="form-control", placeholder="Ivan") }}
          {{ form.client_phone.label(class="mb-1 mt-2") }}
          {% for err in form.client_phone.errors %}
            <p class="alert alert-danger">{{ err }}</p>
          {% endfor %}
          {{ form.client_phone(class="form-control", placeholder="+79998887766") }}
          {{ form.submit(class="btn btn-primary mt-4 mb-2") }}
        </div>
      </form>
    </div>
  </main>

{% endblock %}