<div class="row">
  <div class="col-12 col-lg-10 offset-lg-1 m-auto">
    {% for teacher in teachers %}
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-3"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
            <div class="col-9">
              <p class="float-right">
                <span class="mr-2">👍{{ teacher.rating }}</span>
                <span>{{ teacher.price }}/час</span>
              </p>
              <h2 class="h4">{{ teacher.name }}</h2>
              <p>{{ teacher.about }}</p>
              <a href="/profiles/{{ teacher.id }}/" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информаци и расписание</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>